.test {
	color: red;
}
.smaller-img {
	width: 50%;
}

.smaller-text {
	/*width: 75%;*/
/*	border-bottom: 3px solid #FFB520;*/
	/*position: relative;*/
}
.bottom-border {
	height: 100%;
	width: 75%;
	border-bottom: 3px solid #FFB520;
	/*position: relative;*/
	/*margin-bottom: 15px;*/
	/*border-bottom: 7px solid #504F4D;*/
}
.mx-bottom {
margin-bottom: 25px;
}

.nav-link-custom {
	padding: 0.5rem;
	color: #5d5d5d;
	font-weight: bold;
}

.hr-4 {
	border: none;
	height: 5px;
	background: #ccc;
}

.jumbo-list-container {
	/*background: rgba(255, 181, 32, 0.2);*/
	background: rgba(255, 255, 255, 0.9);
	padding: 15px 10px 1px 10px;
	/*border-radius: 8px;*/
	/*border: 1px solid #393939;*/
  -webkit-box-shadow: 0px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 3px 5px 6px #ccc; 
	box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.4);
}
.jumbo-list {
	list-style: none;
  font-size: 1.25em;
}


.jumbo-list li::before {
	content: "•"; color: #393939;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-weight: bold;
}


.jumbo-background {
	position: relative;
	background-color: transparent;
}

.jumbo-background::after {
	content: "";
	background-image: url('building photos/img8.jpg');
	/*background-image: url('building photos/img2.png');*/
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: -140px;
	right: 0;
	position: absolute;
	z-index: -1;   
	/*background-size: contain;*/
	background-position: center;
}
.header-logo {
	/*background: rgba(255, 255, 255, 1);*/
	color: #171717;
}

.trusted {
	text-decoration: underline;
	text-underline-position: under;
}

/*.bottom-border:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -3px;
  border-bottom: 2px solid #504F4D;
}*/
/*.bottom-border:after {
  content: " ";
  position: absolute;
  z-index: -2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -5px;
  border-bottom: 3px solid #504F4D;	
}*/
.services-heading {
/*	border-top: 5px solid #504F4D;
	border-right: 5px solid #504F4D;
	border-left: 5px solid #504F4D;*/
	position: relative;
	padding: 10px;
	width: 95%;
	margin-bottom: 5px;
	/*background-color: #FFB520;*/
	/*color: #504F4D;*/
}
/*.services-heading:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -10px;
  border-bottom: 5px solid #504F4D;	
}*/
.arrow-test {
	position: relative;
	/*margin-bottom: 25px;*/
}

/*.arrow-test:after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 30px;
  border-bottom: 5px solid #504F4D;	
}*/

.arrow {
  border: solid #504F4D;
  /*504F4D*/
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
  width: 50px;
  height: 50px;
  position: relative;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: -20px;
  background: linear-gradient(-45deg, white 65%, transparent 35%);
}

.arrow:before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 7px solid #FFB520;
  border-right: 7px solid #FFB520;
 }	

.line-container {
	position: relative;
	z-index: -1;
	margin-bottom: 30px;
}
.line-up {
  content: " ";
  position: absolute;
  top: -36px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 5px solid #504F4D;	
}
.line-up:after {
  content: " ";
  position: absolute;
  top: -10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 5px solid #FFB520;	
}



.alternative {
	/*background-color: #0e1013;*/
	background-color: #504F4D;
	/*background-color: rgba(80,79,77,0.8);*/
	padding: 55px 35px 35px 65px;
	opacity: 0.9;
	z-index: 1;
}

.why-heading {
/*	border-top: 5px solid #504F4D;
	border-right: 5px solid #504F4D;
	border-left: 5px solid #504F4D;*/
	position: relative;
	padding: 10px;
	width: 95%;
	margin-bottom: 5px;
	/*background-color: #FFB520;*/
	/*color: #504F4D;*/
}

/*.arrow-test:after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 30px;
  border-bottom: 5px solid #504F4D;	
}*/

.arrow-why {
  border: solid #504F4D;
  /*504F4D*/
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 3px;
  width: 50px;
  height: 50px;
  position: relative;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-top: -20px;
  background: linear-gradient(-45deg, white 65%, transparent 35%);
  z-index: 3;
}

.arrow-why:before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 7px solid #FFB520;
  border-right: 7px solid #FFB520;
 }	

.line-container-why {
	position: relative;
	z-index: 1;
	margin-bottom: -60px;
}
.line-up-why {
  content: " ";
  position: absolute;
  top: -36px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 5px solid #504F4D;	
}
.line-up-why:after {
  content: " ";
  position: absolute;
  top: -10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 5px solid #FFB520;	
}




.fbackground {
	height: 475px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("building photos/imgf1.png");
	/*background-size: cover;*/
	z-index: -1;
	margin-top: -475px;
	background-size: contain;

}

.black {
	height: 200px;
	background-color: black;
}

.outer {
	background: #CBC8C7;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	border: solid #FFB520;
	border-width: 0px 5px;
}
.outer p, h3 {
	margin-bottom: 0px;
 /* this does the trick */
 /*do not remove this one*/
}

.circle-container {
	background: #CBC8C7;
	margin-right: 20px;
}

.circle {
	background: #FFB520;
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-left: -55px;
	font-family: Helvetica, Arial, sans-serif;
}

.content {
	background: #27FF6F;
}

.number {
display: flex;
align-items: center;
justify-content: center;
background-color: #fff;
border-radius: 50%;
max-width: 25%;	
}

.testing {
	background-color: #ccc;
	line-height: 1.0;
}

.social-buttons {
margin: 15px 0px;
}
.social {
    display: inline-block;
    height: 54px;
    width: 54px;
    background-color: #4F4F4F;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
    border: 2px solid #E9A214;
}

.social .fab {
	line-height: inherit;
}

i {
	font-size: 1.5rem;
	/*height: 100%;*/
	/*vertical-align: center;*/
}

.footer-links a {
	color: #ccc;
}

.inc {
	font-weight: bold;
	color: #ccc;
}

.form-custom {
	margin-bottom: 50px;
	color: #5d5d5d;
}
.form-custom button {
	/*background-color: #FFB520;*/
	/*color: #FFB520;*/
	/*border: 2px solid #FFB520;*/
}

@media (max-width: 576px) {
    .circle {
      display: none;
    }
    .alternative {
    	padding: 55px 35px 20px 35px;
    }

    .circle-container {
    	margin-right: 0px;
    }

    .jumbo-background::after {
    	background-image: url('building photos/img8m.jpg');
    }

    .social
}